<section class="contacts" id="contacts">
    <div class="container">
        <div class="contacts__inner">
            <h2 class="contacts__title title">Контакты</h2>
            <ul class="contacts__contacts-list">
                <li class="contacts__contacts-item">
                    <a href="tel:+79280810116" class="contacts__contacts-link">
                        <i class="fa-solid fa-phone"></i>
                    </a>
                    <p class="contacts__contacts-text">+7-928-081-01-16</p>
                </li>
                <li class="contacts__contacts-item">
                    <a href="https://t.me/borland_westly" target="_blank" class="contacts__contacts-link">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                    <p class="contacts__contacts-text">@borland_westly</p>
                </li>
                <li class="contacts__contacts-item">
                    <a href="mailto:artedien@gmail.com" class="contacts__contacts-link">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                    <p class="contacts__contacts-text">artedien@gmail.com</p>
                </li>
                <li class="contacts__contacts-item">
                    <a href="https://www.linkedin.com/in/valeriy-gobejishvili-115741197/" target="_blank" class="contacts__contacts-link">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <p class="contacts__contacts-text">linkedin.com/in/valeriy-gobejishvili</p>
                </li>
                <li class="contacts__contacts-item">
                    <a href="https://github.com/Artedien" target="_blank" class="contacts__contacts-link">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <p class="contacts__contacts-text">github.com/Artedien</p>
                </li>
            </ul>
        </div>
    </div>
</section>